:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  color: #2c2c2c;
  line-height: 1.27;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

header {
  width: 100vw;
  height: 110px;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  width: 1200px;
  margin: 0 auto;
}
header .container .row {
  align-items: center;
}
header .container .overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.145);
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition: 0.4s ease;
}
header .links-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 50px;
  margin-top: 10px;
}
header .links-action .links-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 50px;
}
header .links-action .links-nav li a {
  font-weight: 600;
}
header .links-action .links-nav li a.active, header .links-action .links-nav li a:hover {
  border-bottom: 2.6px solid var(--main-color);
  padding-bottom: 39px;
}
header .links-action .cart-link {
  position: relative;
}
header .links-action .cart-link span {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 13px;
  color: white;
  background-color: var(--orange-700);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -8px;
  right: -10px;
}
header label {
  display: none;
}

@media screen and (max-width: 992px) {
  header .container input[type=checkbox]:checked ~ .links-nav {
    translate: 0;
  }
  header .container input[type=checkbox]:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  header .container label {
    display: inline-block;
  }
  header .container label .fa-bars {
    font-size: 30px;
    margin-left: 30px;
  }
  header .container .logo {
    text-align: center;
  }
  header .container .links-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--green-800);
    width: 30vw;
    height: 100vh;
    translate: -101%;
    transition: translate 0.4s ease;
    z-index: 2;
  }
  header .container .links-nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0 0;
  }
  header .container .links-nav ul li {
    padding: 5px 20px;
    margin: 15px 0;
  }
  header .container .links-nav ul a {
    font-size: 20px;
  }
  header .container .links-nav ul a:hover {
    color: white;
  }
  header .container .links-nav ul a.active, header .container .links-action .links-nav ul li a:hover, header .links-action .container .links-nav ul li a:hover, header .container .links-action .links-nav li ul a:hover, header .links-action .container .links-nav li ul a:hover {
    border-bottom: 0;
    padding-bottom: 0;
    color: white;
  }
  header .container .search {
    margin-right: 30px;
  }
  header .container .cart-link {
    margin-right: -25px;
  }
}
#hero .container {
  max-width: 1200px;
  margin: 0 auto;
}
#hero .container .row {
  align-items: center;
}
#hero .slogan h2 {
  font-size: 36px;
  font-weight: 800;
}
#hero .slogan h1 {
  width: 70%;
  font-size: 43px;
  font-weight: 800;
  margin: 20px 0;
}
#hero .slogan p {
  width: 75%;
  font-weight: 400;
}
#hero .hero-banner {
  background-color: var(--green-200);
  width: 50vw;
  border-radius: 16.667px 0px 0px 16.667px;
  min-height: 708.5px;
  position: relative;
}
#hero .hero-banner .hero-img {
  position: absolute;
  left: -80px;
  top: 40px;
  width: 520px;
}
#hero .hero-banner span {
  font-size: 164px;
  font-weight: 800;
  line-height: 1;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  color: var(--green-1000);
  opacity: 0.15;
  position: absolute;
  top: 40px;
  left: 405px;
  margin-top: 15px;
}

@media screen and (max-width: 1500px) {
  #hero .slogan h2 {
    font-size: 30px;
  }
  #hero .slogan h1 {
    font-size: 36px;
  }
  #hero .hero-banner .hero-img {
    left: -160px;
    top: 40px;
    width: 500px;
  }
  #hero .hero-banner span {
    font-size: 140px;
    top: 40px;
    left: 305px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1200px) {
  #hero .container {
    margin-top: 50px;
  }
  #hero .slogan {
    margin-bottom: 30px;
  }
  #hero .slogan p, #hero .slogan h1, #hero .slogan h2 {
    text-align: center;
    margin: 0 auto;
  }
  #hero .slogan h2 {
    font-size: 36px;
  }
  #hero .slogan h1 {
    font-size: 43px;
    margin: 20px auto;
  }
  #hero .hero-banner {
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
  }
  #hero .hero-banner .hero-img, #hero .hero-banner span {
    position: static;
  }
  #hero .hero-banner .hero-img {
    max-width: 43%;
  }
  #hero .hero-banner span {
    writing-mode: initial;
    font-size: 130px;
  }
}
@media screen and (max-width: 992px) {
  #hero .hero-banner {
    min-height: 500px;
  }
  #hero .hero-banner .hero-img {
    max-width: 36%;
  }
  #hero .hero-banner span {
    font-size: 110px;
  }
}
@media screen and (max-width: 768px) {
  #hero .slogan h2 {
    font-size: 30px;
  }
  #hero .slogan h1 {
    font-size: 36px;
  }
  #hero .hero-banner {
    flex-direction: column;
    min-height: 650px;
  }
  #hero .hero-banner .hero-img {
    max-width: 55%;
  }
  #hero .hero-banner span {
    margin: 0;
    font-size: 110px;
  }
}
#achievement {
  margin: 100px 0;
}
#achievement .container {
  max-width: 1200px;
  margin: 0 auto;
}
#achievement .achievement-text {
  text-align: center;
}
#achievement .achievement-text h2, #achievement .achievement-text p {
  margin: 0 auto;
}
#achievement .achievement-text h2 {
  font-size: 31px;
  font-weight: 800;
  padding-bottom: 24px;
  line-height: 1.3;
  max-width: 50%;
}
#achievement .achievement-text p {
  max-width: 53%;
  line-height: 1.27;
}
#achievement .achievement-items {
  padding-top: 143px;
}
#achievement .achievement-items .row {
  justify-content: center;
  align-items: center;
}
#achievement .achievement-items .item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 33px 35px 58px 33px;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  border-radius: 3.3px;
}
#achievement .achievement-items .item .quality-icon {
  width: fit-content;
}
#achievement .achievement-items .item .quality-icon img {
  padding: 15.5px;
  border-radius: 10px;
}
#achievement .achievement-items .item .number {
  font-size: 43px;
  font-weight: 800;
  margin: 24px 0;
}
#achievement .achievement-items .item .text {
  font-size: 20px;
}
#achievement .achievement-items .i1, #achievement .achievement-items .i3 {
  position: relative;
  width: 294px;
}
#achievement .achievement-items .i1 img, #achievement .achievement-items .i3 img {
  background-color: var(--orange-100);
}
#achievement .achievement-items .i2 {
  width: 342px;
  margin: 0 auto;
  padding: 60px 35px 85px 33px;
}
#achievement .achievement-items .i2 img {
  background-color: var(--green-100);
}
#achievement .achievement-items .i1::before {
  content: "";
  display: block;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: var(--green-200);
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
  z-index: -2;
}
#achievement .achievement-items .i3::before {
  content: "";
  display: block;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background-color: var(--orange-200);
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 50% 54%;
  z-index: -2;
}

@media screen and (max-width: 1300px) {
  #achievement .achievement-items .i2 {
    width: 300px;
  }
  #achievement .achievement-items .i1::before {
    width: 200px;
    height: 200px;
  }
  #achievement .achievement-items .i3::before {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  #achievement .achievement-text h2, #achievement .achievement-text p {
    max-width: 70%;
  }
  #achievement .achievement-items {
    padding-top: 70px;
  }
  #achievement .achievement-items .row {
    gap: 30px 0;
  }
  #achievement .achievement-items .i1, #achievement .achievement-items .i2, #achievement .achievement-items .i3 {
    position: static;
    width: 70%;
    margin: 0 auto;
  }
  #achievement .achievement-items .item {
    align-items: center;
  }
  #achievement .achievement-items .item .text {
    font-size: 24px;
    text-align: center;
  }
  #achievement .achievement-items .item img {
    width: 110px;
  }
  #achievement .achievement-items .i1::before {
    display: none;
  }
  #achievement .achievement-items .i3::before {
    display: none;
  }
}
#product {
  padding: 100px 0;
}
#product .container {
  max-width: 1200px;
  margin: 0 auto;
}
#product .container .row {
  justify-content: center;
  align-items: center;
  gap: 96px 0;
}
#product .container h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 31.6px;
  font-weight: 800;
}
#product .list-product .box-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product .list-product .box-product .img-product {
  width: 269px;
  height: 356px;
  position: relative;
}
#product .list-product .box-product .img-product img {
  position: relative;
  top: 114px;
  left: 50%;
  translate: -50% 0;
}
#product .list-product .box-product .info-product {
  margin-top: 18px;
}
#product .list-product .box-product .info-product .name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 13px;
}
#product .list-product .box-product .info-product .quantity {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 6.5px;
  position: relative;
}
#product .list-product .box-product .info-product .quantity::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: var(--grey-500);
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
}
#product .list-product .box-product .info-product .price {
  text-align: center;
}
#product .list-product .box-product .info-product .price span {
  font-size: 24px;
  font-weight: 600;
}
#product .list-product .box-product .buy-btn {
  margin-top: 31px;
  padding: 13.3px 11.6px;
  background-color: var(--green-800);
  border-radius: 6.667px;
}
#product .list-product .box-product .buy-btn a {
  font-size: 16.6px;
  font-weight: 700;
  color: #fff;
}
#product .list-product .cake .img-product::before, #product .list-product .game .img-product::before {
  content: "";
  display: block;
  width: 269px;
  height: 269px;
  background-color: var(--green-300);
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: -1;
}
#product .list-product .dice .img-product::before {
  content: "";
  display: block;
  width: 269px;
  height: 269px;
  background-color: var(--orange-300);
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
