@import 'partials/variables';
@import 'partials/root';
@import 'partials/reset';

// 
header{
    width: 100%;
    height: 110px;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 1200px;
        margin: 0 auto;
        .row{
            align-items: center;
        }
    }
    .links-action{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 50px;
        margin-top: 10px;
        .links-nav{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 50px;
            }
            li{
                a{
                    font-weight: 600;
                    &.active{
                        border-bottom: 2.6px solid var(--main-color);
                        padding-bottom: 39px;
                    }
                    &:hover{
                        @extend .active;
                    }
                }
            }
        }
        .cart-link{
            position: relative;
            span{
                display: block;
                width: 20px;
                height: 20px;
                font-size: 13px;
                color: white;
                background-color: var(--orange-700);
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
                position: absolute;
                top: -8px;
                right: -10px;
            }
        }
    }
}
// section: hero
#hero{
    .container{
        width: 1200px;
        margin: 0 auto;
        .row{
            
        }
    }
    .slogan{
        display: flex;
        align-items: center;
        .slogan-inner{
            margin-top: 240px;
            h2{
                font-size: 36px;
                font-weight: 800;
            }
            h1{
                width: 70%;
                font-size: 43px;
                font-weight: 800;
                margin: 20px 0;
            }
            p{
                width: 75%;
                font-weight: 400;
            }
        }
    }
    .hero-banner{
        // display: flex;
        // align-items: center;
        position: relative;

        .background-banner{
            width: 729px;
            height: 700px;
            background-color: var(--green-200);
            border-radius: 16.667px 0px 0px 16.667px;
            position: absolute;
            top: 0;
            left: 30px;
            .hero-img{
                position: absolute;
                top: 80px;
                left: -106px;
            }
            span{
                font-size: 157px;
                line-height: 1;
                display: inline-block;
                font-weight: 800;
                opacity: 0.15;
                color: var(--green-1000);
                transform: rotate(90deg);
                position: relative;
                top: 180px;
                right: -285px;
                text-transform: uppercase;
            }
        }
        
    }
}